.sales_container {
    width:100%;
    margin:0 auto;
  }
  .sales_wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 15px
  }
  .sales_text {
    color:#997fb5;
    font-size:36px;
  }
  .sales_component_bar {
    padding:15px 0;
    margin:0 auto;
    position:relative;
    width: 80%;
  }
  .sales_component_bar > a {
    text-decoration: none;
  }
  .sales_component_name {
    margin:0 30px;
    color:#997fb5;
    position:relative;
  }