.oper_container {
    width:100%;
    margin:0 auto;
    padding:30px 0;
}
.oper_wrap{
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.oper_text {
    color:#997fb5;
    font-size:36px;
    padding:0 30px;
}
.operation_text {
    font-size:20px;
}
.oper_all_wrap {
    display:flex;
}
.oper_box1 {
    position:relative;
    display: inline-block;
    border-radius: 5px;
    margin:0 10px;
    border:1px solid #997fb5;
    border-radius:15px;
    width:20%;
    font-size:14px;
  }

  .oper_title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 15px 15px;
    color:#997fb5;
  }
  .oper_btn_box {
      text-align: center;
  }
  .oper_title_btn {
      border:none;
      background:none;
      color:#997fb5;
      font-size: 16px;
      padding:15px 15px;
      text-align: center;
  }
  .oper_wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
  }
  .oper_wrap1, .oper_wrap2 {
    float: left;
  }
  .oper_left {
    text-align: left;
    color: #333;
    line-height: 2;
  }
  .oper_right {
    text-align: end;
    color: #747474;
    font-weight: 500;
    line-height: 2;
  }
  .preparation_text {
      text-align: center;
      padding-top:30px;
  }
  .holiday {
    padding: 30px;
    text-align: center;
  }
  .holiday_text {
      text-align: center;
  }
  .oper_condition {
      text-align: center;
      padding-top:30px;
  }