.connectmenu_container {
}
.connectmenu_title {
    color:#997fb5;
    padding:15px 0;
}
.connectmenu_text {
    font-size: 14px;
    color: #333;
    line-height: 0.3;
}
.connect_drag_wrap {
    width:90%;
    margin:0 auto;
    padding:15px 0;
}