.menu_container {
    margin:0 auto;
  }
  .menument_wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 15px
  }  
.menu_main_text {
    color:#997fb5;
    font-size:36px;
}
.menu_router_wrap {
    padding:15px 0;
}