.pay_container {
    width: 100%;
    height:100vh;
    margin: 0 auto;
  }
  .pay_container > div {
    display: flex;
    flex-direction: row;
    align-items:center;
    position:relative;
  }
  /* .pay_container > div:after {
    position:absolute;
    top:-15px;
    left:0;
    display: block;
    content: '';
    width:100%;
    height:1px;
    background:#ddd;
  } */
  .print_header_wrap {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color:#997fb5;
    padding:30px;
  }
  .xi-close {
      cursor: pointer;
  }
  .print_text {
      padding:30px;
      color:#997fb5;
  }

  .orderprint_box1,
  .orderprint_box2 {
    width: 50%;
    height:500px;
    display: inline-block;
    border: 1px solid #997fb5;
    border-radius: 5px;
    margin: 0 50px;
  }
  .orderprint_box1 {
      position:relative;
  }
  
  .print_title {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 15px 15px;
  }
  .print_request {
    text-align: left;
    margin: 0 15px;
    padding: 15px 0;
  }
  
  .print_wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
  }
  .print_wrap1, .print_wrap2 {
    float: left;
  }
  .print_order_left {
    text-align: left;
    color: #333;
    line-height: 2;
  }
  .print_order_right {
    text-align: end;
    color: #747474;
    font-weight: 500;
    line-height: 2;
  }
  .print_menulist_wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px;
  }
  .print_menulist_left {
    float: left;
  }
  .print_menulist_right {
    float: left;
    text-align: end;
  }
  .print_submenu_list {
    padding:0 20px;
    text-align: left;
  }
  .print_total_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .print_order_total {
    font-size: 18px;
    padding: 15px 15px;
  }
  .print_total_price {
    padding:15px 15px
  }
    /* order cancel btn */
    .cancel_wrap {
        position:absolute;
        bottom:0;
        left:0;
        margin:0 auto;
        width:100%;
        text-align: center;
        padding:15px 30px;
    }  
    .cancel_btn {
        background:#dcd4e3;
        color:#997fb5;
        border:none;
    }
  /* ordersheet print btn */
  .print_btn-cover {
    text-align: center;
    padding-top:30px;
  }
  .print_page-btn {
    background: #997fb5;
    border: 1px solid #997fb5;
    border-bottom:none;
    border-right:none;
    color: #fff;
  }
  .print_receipt_btn {
    width:50%;
    height:58px;
    background:white;
    border:1px solid #997fb5;
    border-bottom:none;
    border-left:none;
    border-right:none;
    color: #997fb5;
  }

  .print_page-btn {
    width:25%;
    height:58px;
    background:white;
    border:1px solid #997fb5;
    border-bottom:none;
    color:#997fb5;
  }
  .print_page-btn:first-child {
    border-left:none
  }
  .print_page-count {
    display: none;
  }

  @media print { 
    body * { 
    visibility: hidden; 
    } 
    .orderprint_box2 * { 
    visibility: visible;
    margin:0 auto;
    }
  } 
