.ordermanage_container {
    width:100%;
    margin:0 auto;
  }
  .main_wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 15px
  }
  .main_text {
    color:#997fb5;
    font-size:36px;
  }
  .component_bar {
    padding:15px 0;
    margin:0 auto;
    position:relative;
    width: 80%;
  }
  .component_bar > a {
    text-decoration: none;
  }
  .component_name {
    margin:0 30px;
    color:#997fb5;
    position:relative;
  }
  /* .first::after {
    position:absolute;
    bottom:-10px;
    left:0;
    display: block;
    content: '';
    width:100%;
    height:5px;
    background:#997fb5;
    z-index:1
  } */
  .list_wrap {
      margin: 0 auto;
      padding:0 30px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
  }
  /* .list_wrap:before {
    display: block;
    content: '';
    position: absolute;
    top: 43px;
    right: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
  }
  .list_wrap:after {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    content: '';
    background: #ddd;
    width: 100%;
    height: 1px;
  } */
  /* .list_wrap::before {
    display: block;
    content: '';
    position:absolute;
    bottom:10px;
    left:9%;
    width:100%;
    height:1px;
    background:#ddd;
  } */
  .list {
    font-size:24px;
    padding:0 10px;
    color:#997fb5;
  }
  #order_select {
    width:70px;
    border:1px solid #997fb5;
    background:none;
    text-align: center;
    font-size:14px;
    border-radius: 15px;
  }